<h1>Edit Landmark</h1>

<form action="/landmarks/<%= @landmark.id %>" method="post">
   <label for="landmark_name">Name: </label>
  <input type="text" name="landmark[name]" id="landmark_name" value="<%= @landmark.name %>">
  <br>
  <label for="landmark_year_completed">Year Completed:</label>
  <input type="text" name="landmark[year_completed]" id="landmark_year_completed" value="<%= @landmark.year_completed %>">
  <br>
  <input type="submit" value="Edit Landmark">
  
</form>